@page "/"
@using Microsoft.AspNetCore.SignalR.Client;
@using disinviter.Projections;
@inject NavigationManager NavigationManager;
@implements IAsyncDisposable;

<PageTitle>Index</PageTitle>

<h1>You might be invited to Tore's birthday</h1>

<div>State: @_connection?.State</div>
<div class="form-group">
    <label>User: <input @bind="_userInput" /> </label>
</div>
<div class="form-group">
    <label>Message: <input @bind="_messageInput" size="50" /> </label>
</div>


<button @onclick="Send" disabled="@(!IsConnected)">Send</button>
<ul id="messagesList">
    @foreach (var message in _messages)
    {
        <li>@message</li>
    }
</ul>

@code {
    HubConnection? _connection;
    List<string> _messages = new List<string>();
    string? _userInput;
    string? _messageInput;

    public bool IsConnected => _connection?.State == HubConnectionState.Connected;

    async Task Send()
    {
        if (IsConnected)
        {
            await _connection!.SendAsync("SendMessage", _userInput, _messageInput);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        _connection = new HubConnectionBuilder()
            // todo: use the correct host when deployed (env variable?)
            .WithUrl("http://localhost:5277/chatHub")
            .Build();

        _connection.On<DateTimeOffset, string, string>(
            "ReceiveMessage",
            (time, user, message) =>
            {
                _messages.Insert(0, $"{time:HH:mm:ss} - {user}: {message}");
                _messages = _messages.Take(10).ToList();
                InvokeAsync(StateHasChanged);
            }
        );

        _connection.On<List<ChatMessage>>(
            "ReceiveMessages",
            (messages) =>
            {
                _messages.Clear();
                _messages.AddRange(
                    messages
                        .OrderByDescending(m => m.Time)
                        .Take(10)
                        .Select(m => $"{m.Time:HH:mm:ss} - {m.User}: {m.Message}")
                );
                InvokeAsync(StateHasChanged);
            }
        );

        await _connection.StartAsync();
    }

    public async ValueTask DisposeAsync()
    {
        if (_connection is not null)
        {
            await _connection.DisposeAsync();
        }
    }
}
