@page "/invites"
@using Microsoft.AspNetCore.SignalR.Client;
@using disinviter.Concepts
@using disinviter.Commands
@using disinviter.Projections;
@inject IConfiguration Configuration;
@implements IAsyncDisposable;


<PageTitle>Invites</PageTitle>

<h1>Invitations</h1>

<div class="form-group">
    <label>Invite:
        <input placeholder="name" @bind="_newPersonName" />
    </label>
    <button @onclick="InviteNew">Invite</button>
</div>

<h2>Invited</h2>
<ul id="invited-people">
    @foreach (var name in _invited)
    {
        <li>
            @name
            <button @onclick="() => Snub(name)">Snub</button>
        </li>
    }
</ul>

<h2>Snubbed</h2>
<ul id="snubbed-people">
    @foreach (var name in _snubbed)
    {
        <li>
            @name
            <button @onclick="() => Invite(name)">Invite</button>
        </li>

    }
</ul>

@code {
    HubConnection? _connection;
    List<string> _invited = new List<string>();
    List<string> _snubbed = new List<string>();
    string? _newPersonName;
    public bool IsConnected => _connection?.State == HubConnectionState.Connected;

    public async Task InviteNew()
    {
        await _connection
            ?.SendAsync(
                nameof(PersonCommands.Invite),
                _newPersonName
            );
    }

    public async Task Invite(string personName)
    {
        await _connection
            ?.SendAsync(
                nameof(PersonCommands.Invite),
                personName
            );
    }

    public async Task Snub(string personName)
    {
        await _connection
            ?.SendAsync(
                nameof(PersonCommands.Snub),
                personName
            );
    }

    public async ValueTask DisposeAsync()
    {
        if (_connection != null)
        {
            await _connection.DisposeAsync();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        var uri = new Uri($"{Configuration["SIGNALR_HOST"]}/person");

        _connection = new HubConnectionBuilder()
            .WithUrl(uri.AbsoluteUri)
            .Build();

        _connection.On<string>(
            nameof(IInvitationMessages.Invited),
            personName =>
            {
                _invited.Add(personName);
                _snubbed.Remove(personName);

                InvokeAsync(StateHasChanged);
            }
        );

        _connection.On<string>(
            nameof(IInvitationMessages.Snubbed),
            personName =>
            {
                _snubbed.Add(personName);
                _invited.Remove(personName);

                InvokeAsync(StateHasChanged);
            }
        );

        _connection.On<PartyInvitations>(
            nameof(IInvitationMessages.PartyInvitations),
            m =>
            {
                _invited = m.Invited;
                _snubbed = m.Snubbed;

                InvokeAsync(StateHasChanged);
            }
        );

        await _connection.StartAsync();
    }
}