@page "/todo"
@using disinviter.Concepts

<PageTitle>To do</PageTitle>

<h1>To do (@_todos.Count(todo => !todo.IsDone))</h1>

<input placeholder="something to do" @bind="_newTodo" />
<button @onclick="AddTodo">Add</button>

<ul>
    @foreach (var todo in _todos)
    {
        <li>
            <input
                type="checkbox"
                @bind="todo.IsDone"
            />
            <input
                type="text"
                placeholder="Title"
                @bind="todo.Title"
            />
            <input
                type="text"
                placeholder="Description"
                @bind="todo.Description"
            />
        </li>
    }
</ul>


@code {
    string? _newTodo;
    List<TodoItem> _todos = new();

    void AddTodo()
    {
        _todos.Add(new TodoItem{ Title = _newTodo });
    }
}